# ETL: автоматизация подготовки данных семинары

## Урок 8. Специфика применения ETL в различных предметных сферах

1. Скачайте файлы booking.csv, client.csv и hotel.csv

2. Создайте новый dag

3. Создайте три оператора для получения данных и загрузите файлы. Передайте датафреймы в оператор трансформации

4. Создайте оператор который будет трансформировать данные:

- Объедините все таблицы в одну

- Приведите даты к одному виду

- Удалите невалидные колонки

- Приведите все валюты к одной

5. Сохраните в pandas DataFrame

6. Запустите dag.

In [77]:
import pandas as pd

In [78]:
# Указываем пути к файлам
file_path_booking = '/home/executor/Загрузки/booking.csv'
file_path_client = '/home/executor/Загрузки/client.csv'
file_path_hotel = '/home/executor/Загрузки/hotel.csv'

In [79]:
# Загружаем файлы в DataFrame
booking_df = pd.read_csv(file_path_booking)
client_df = pd.read_csv(file_path_client)
hotel_df = pd.read_csv(file_path_hotel)

In [80]:
# Просматриваем содержимое DataFrame
print('Содержимое DataFrame первые 5 строк для предварительного просмотра файла booking.csv:')
booking_df.head()

Содержимое DataFrame первые 5 строк для предварительного просмотра файла booking.csv:

   client_id booking_date          room_type  hotel_id  booking_cost currency
0          4   2016/11/02  first_class_2_bed         6        3140.0      GBP
1          2   2017-07-13      balcony_2_bed         2        2325.0      EUR
2          3   2017-10-17     standard_3_bed         6        2475.0      EUR
3          3   2018-01-16     standard_1_bed         4           NaN      NaN
4          1   2018/03/20      balcony_2_bed         1        2740.0      GBP

In [81]:
rows, cols = booking_df.shape
print(f"Размер набора данных в файле booking.csv: {rows} строк и {cols} столбцов.")

Размер набора данных в файле booking.csv: 14 строк и 6 столбцов.

In [82]:
# Просмотр основной информации о DataFrame
print("\nОсновная информация о данных в файле booking.csv:")
booking_df.info()

Основная информация о данных в файле booking.csv:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14 entries, 0 to 13
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   client_id     14 non-null     int64
 1   booking_date  14 non-null     object
 2   room_type     14 non-null     object
 3   hotel_id      14 non-null     int64
 4   booking_cost  13 non-null     float64
 5   currency      13 non-null     object
dtypes: float64(1), int64(2), object(3)
memory usage: 804.0+ bytes

In [83]:
# Подсчет количества пропущенных значений в каждом столбце
missing_values_booking = booking_df.isnull().sum()

# Фильтрация и сортировка столбцов с пропущенными значениями
missing_values_booking = missing_values_booking[missing_values_booking > 0].sort_values(ascending=False)

# Вывод результата
print("\nПропущенные значения в наборе данных booking.csv:\n", missing_values_booking)

Пропущенные значения в наборе данных booking.csv:
 booking_cost    1
currency        1
dtype: int64

In [84]:
# Проверка на наличие дубликатов
duplicates_booking = booking_df.duplicated().sum()
print("\nКоличество дубликатов в наборе данных booking.csv:", duplicates_booking)

Количество дубликатов в наборе данных booking.csv: 0

In [85]:
# Просматриваем содержимое DataFrame
print('Содержимое DataFrame первые 5 строк для предварительного просмотра файла client.csv:')
client_df.head()

Содержимое DataFrame первые 5 строк для предварительного просмотра файла client.csv:

   client_id   age      name      type
0          1   NaN       Ann  standard
1          2  38.0       Ben  standard
2          3  30.0       Tom  standard
3          4  43.0    Bianca       VIP
4          5  49.0  Caroline  standard

In [86]:
rows, cols = client_df.shape
print(f"Размер набора данных в файле client.csv: {rows} строк и {cols} столбцов.")

Размер набора данных в файле client.csv: 6 строк и 4 столбцов.

In [87]:
# Просмотр основной информации о DataFrame
print("\nОсновная информация о данных в файле client.csv:")
client_df.info()

Основная информация о данных в файле client.csv:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   client_id  6 non-null      int64
 1   age        5 non-null      float64
 2   name       6 non-null      object
 3   type       6 non-null      object
dtypes: float64(1), int64(1), object(2)
memory usage: 324.0+ bytes

In [88]:
# Подсчет количества пропущенных значений в каждом столбце
missing_values_client = client_df.isnull().sum()

# Фильтрация и сортировка столбцов с пропущенными значениями
missing_values_client = missing_values_client[missing_values_client > 0].sort_values(ascending=False)

# Вывод результата
print("\nПропущенные значения в наборе данных client.csv:\n", missing_values_client)

Пропущенные значения в наборе данных client.csv:
 age    1
dtype: int64

In [89]:
# Проверка на наличие дубликатов
duplicates_client = client_df.duplicated().sum()
print("\nКоличество дубликатов в наборе данных client.csv:", duplicates_client)

Количество дубликатов в наборе данных client.csv: 0

In [90]:
# Просматриваем содержимое DataFrame
print('Содержимое DataFrame первые 5 строк для предварительного просмотра файла hotel.csv:')
hotel_df.head()

Содержимое DataFrame первые 5 строк для предварительного просмотра файла hotel.csv:

   hotel_id                     name   address
0         1             Astro Resort  address1
1         2            Dream Connect  address2
2         3              Green Acres  address3
3         4  Millennium Times Square  address5
4         5          The Clift Royal  address5

In [91]:
rows, cols = hotel_df.shape
print(f"Размер набора данных в файле hotel.csv: {rows} строк и {cols} столбцов.")

Размер набора данных в файле hotel.csv: 6 строк и 3 столбцов.

In [92]:
# Просмотр основной информации о DataFrame
print("\nОсновная информация о данных в файле hotel.csv:")
hotel_df.info()

Основная информация о данных в файле hotel.csv:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   hotel_id  6 non-null      int64
 1   name      6 non-null      object
 2   address   6 non-null      object
dtypes: int64(1), object(2)
memory usage: 276.0+ bytes

In [93]:
# Подсчет количества пропущенных значений в каждом столбце
missing_values_hotel = hotel_df.isnull().sum()

# Фильтрация и сортировка столбцов с пропущенными значениями
missing_values_hotel = missing_values_hotel[missing_values_hotel > 0].sort_values(ascending=False)

# Вывод результата
print("\nПропущенные значения в наборе данных hotel.csv:\n", missing_values_hotel)

Пропущенные значения в наборе данных hotel.csv:
 Series([], dtype: int64)

In [94]:
# Проверка на наличие дубликатов
duplicates_hotel = hotel_df.duplicated().sum()
print("\nКоличество дубликатов в наборе данных hotel.csv:", duplicates_hotel)

Количество дубликатов в наборе данных hotel.csv: 0

In [ ]:
# Код в файле etl_dag.py
from datetime import datetime, timedelta
from airflow import DAG
from airflow.operators.python_operator import PythonOperator
import pandas as pd


# Функции для операторов
def fetch_booking(**kwargs):
    ti = kwargs['ti']
    df = pd.read_csv('/home/executor/Загрузки/booking.csv')
    ti.xcom_push(key='booking_df', value=df)


def fetch_client(**kwargs):
    ti = kwargs['ti']
    df = pd.read_csv('/home/executor/Загрузки/client.csv')
    ti.xcom_push(key='client_df', value=df)


def fetch_hotel(**kwargs):
    ti = kwargs['ti']
    df = pd.read_csv('/home/executor/Загрузки/hotel.csv')
    ti.xcom_push(key='hotel_df', value=df)


def transform_data(**kwargs):
    ti = kwargs['ti']
    booking_df = ti.xcom_pull(task_ids='fetch_booking', key='booking_df')
    client_df = ti.xcom_pull(task_ids='fetch_client', key='client_df')
    hotel_df = ti.xcom_pull(task_ids='fetch_hotel', key='hotel_df')

    # Объединение таблиц
    combined_df = booking_df.merge(client_df, on='client_id', how='left')
    combined_df = combined_df.merge(hotel_df, on='hotel_id', how='left')

    # Приведение дат к одному формату
    combined_df['booking_date'] = pd.to_datetime(combined_df['booking_date'], errors='coerce')

    # Удаление невалидных колонок (предполагаем, что 'currency' невалидная)
    combined_df.drop(columns=['currency'], inplace=True)

    # Приведение валют к одной (например, к USD, предполагаем, что все уже в GBP)
    # Для конвертации валют требуется функция конвертации, здесь просто предполагаем, что все значения уже в GBP

    # Сохранение в pandas DataFrame (для примера сохраняем в CSV)
    combined_df.to_csv('/home/executor/Загрузки/transformed_data.csv', index=False)

    # Подтверждение успешного выполнения операции трансформации
    ti.xcom_push(key='transformed_data', value='Data transformed successfully')


# Определение стандартных аргументов DAG
default_args = {
    'owner': 'airflow',
    'start_date': datetime(2023, 1, 1),
    'retries': 1,
    'retry_delay': timedelta(minutes=5),
}

# Определение DAG
dag = DAG(
    'etl_dag',
    default_args=default_args,
    description='An ETL DAG to load, transform, and save booking, client, and hotel data',
    schedule_interval=None,
)

# Определение PythonOperator для чтения файлов
fetch_booking_task = PythonOperator(
    task_id='fetch_booking',
    python_callable=fetch_booking,
    provide_context=True,
    dag=dag,
)

fetch_client_task = PythonOperator(
    task_id='fetch_client',
    python_callable=fetch_client,
    provide_context=True,
    dag=dag,
)

fetch_hotel_task = PythonOperator(
    task_id='fetch_hotel',
    python_callable=fetch_hotel,
    provide_context=True,
    dag=dag,
)

# Определение PythonOperator для трансформации данных
transform_task = PythonOperator(
    task_id='transform_data',
    python_callable=transform_data,
    provide_context=True,
    dag=dag,
)

# Определение последовательности выполнения задач
fetch_booking_task >> transform_task
fetch_client_task >> transform_task
fetch_hotel_task >> transform_task

![DAGs](DAGs.png)

![Details_](Details_.png)

![EventLog](Event_Log.png)

![Gantt](Gantt.png)

![Graph](Graph.png)

![Logs_1](Logs_1.png)

![Lods_2](Lods_2.png)

![]()

![Lods_3](Lods_3.png)

![XCom](XCom.png)