# ETL: автоматизация подготовки данных семинары

## Урок 2. Введение в подготовку данных для аналитиков. Таблицы фактов и таблицы измерений

1. Скачайте датасет fifа_s2.сsv. Проанализируйте его и определите, какие данные являются неполными. Удалите
ненужные колонки и недостающие значения.

2. Найдите в датафрейме полные дубликаты и удалите их. Значения могут быть одинаковыми, но написаны по-разному. Например, может отличаться размер регистра (заглавные и строчные буквы). Особое внимание уделить колонке с названиями команд.

3. Напишите функцию, которая добавит колонку с разбиением возраста по группам: до 20, от 20 до 30, от 30 до
36 и старше 36. Посчитайте количество футболистов в каждой категории.

In [36]:
import init_spark_env

In [37]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col, count, when, udf, lower
from pyspark.sql.types import StringType

In [38]:
# Инициализация Spark Session
spark = SparkSession.builder.appName("FIFA Data Preparation").getOrCreate()

In [39]:
spark

In [40]:
# Загрузка данных
df = spark.read.csv("fifa_s2.csv", header=True, inferSchema=True)
df

DataFrame[ID: int, Name: string, Age: int, Nationality: string, Overall: int, Potential: int, Club: string, Value: int, Wage: int, Preferred Foot: string, International Reputation: int, Skill Moves: int, Position: string, Joined: int, Contract Valid Until: string, Height: double, Weight: double, Release Clause: double]

In [41]:
df.show()

+-----+-----------------+---+-------------------+-------+---------+-------------------+-----+----+--------------+------------------------+-----------+--------+------+--------------------+-----------+------+--------------+
|   ID|             Name|Age|        Nationality|Overall|Potential|               Club|Value|Wage|Preferred Foot|International Reputation|Skill Moves|Position|Joined|Contract Valid Until|     Height|Weight|Release Clause|
+-----+-----------------+---+-------------------+-------+---------+-------------------+-----+----+--------------+------------------------+-----------+--------+------+--------------------+-----------+------+--------------+
| 1179|        G. Buffon| 40|              Italy|     88|       88|Paris Saint-Germain| 4000|  77|         Right|                       4|          1|      GK|  2018|          01/01/2019|6.333333333| 203.0|        7400.0|
| 5479|         Casillas| 37|              Spain|     82|       82|           FC Porto| 1500|  10|          Left|                       4|          1|    NULL|  2015|          01/01/2019|6.083333333| 185.0|        3000.0|
| 8205|            Braga| 35|           Portugal|     70|       70|            CD Aves|  750|   5|         Right|                       1|          3|     LCM|  2017|          01/01/2019|5.916666667| 165.0|        1600.0|
| 9014|        A. Robben| 34|        Netherlands|     84|       84|  FC Bayern München|15500| 110|          Left|                       4|          4|      RM|  2009|          01/01/2019|5.916666667| 176.0|       25600.0|
|19521|        J. Ibehre| 35|            England|     61|       61|   Cambridge United|  120|   2|         Right|                       1|          2|      ST|  2017|          01/01/2019|6.333333333| 203.0|         210.0|
|20209|    Ricardo Costa| 37|           Portugal|     74|       74|         CD Tondela|  750|   4|         Right|                       2|          2|     LCB|  2017|          01/01/2019|        6.0| 181.0|        1600.0|
|20801|Cristiano Ronaldo| 33|           Portugal|     94|       94|           Juventus|77000| 405|         Right|                       5|          5|      ST|  2018|          01/01/2022|6.166666667| 183.0|      127100.0|
|24630|       Pepe Reina| 35|              Spain|     83|       83|              Milan| 6000|  56|         Right|                       3|          1|      GK|  2018|                NULL|6.166666667| 203.0|       10200.0|
|27532|      D. de Vries| 37|        Netherlands|     66|       66|             Celtic|   40|   7|         Right|                       1|          1|      GK|  2016|          01/01/2019|       6.25| 212.0|          72.0|
|45083|    S. von Bergen| 35|        Switzerland|     73|       73|     BSC Young Boys|  950|  12|         Right|                       2|          2|     LCB|  2013|          01/01/2022|        6.0| 174.0|        1400.0|
|46175|     M. Rosenberg| 35|             Sweden|     73|       73|           Malmö FF| 1800|   6|         Right|                       1|          3|      RS|  2014|          01/01/2020|        6.0| 179.0|        2400.0|
|47201|         S. Proto| 35|            Belgium|     76|       76|              Lazio| 1800|  20|         Right|                       2|          1|      GK|  2018|          01/01/2021|        6.0| 163.0|        3100.0|
|48940|          P. Čech| 36|     Czech Republic|     82|       82|            Arsenal| 3000|  60|          Left|                       4|          1|    NULL|  2015|          01/01/2019|6.416666667| 198.0|        5700.0|
|52498|       M. Lehmann| 35|            Germany|     72|       72|         1. FC Köln|  725|  10|         Right|                       2|          2|     CDM|  2012|          01/01/2019|5.833333333| 165.0|        1100.0|
|52679|        J. Murphy| 36|Republic of Ireland|     62|       62|               Bury|   40|   1|          Left|                       1|          1|      GK|  2017|          01/01/2019|6.166666667| 194.0|          70.0|
|53110|        C. Gordon| 35|           Scotland|     74|       74|             Celtic| 1300|  20|          Left|                       2|          1|      GK|  2014|          01/01/2020|6.333333333| 183.0|        2400.0|
|53302|      D. De Rossi| 34|              Italy|     83|       83|               Roma| 8000|  80|         Right|                       3|          2|     RDM|  2002|                NULL|        6.0| 183.0|       13600.0|
|53363|        A. Collin| 33|            England|     62|       62|    Carlisle United|  150|   2|         Right|                       1|          1|      GK|  2018|          01/01/2019|       6.25| 172.0|         263.0|
|53739|         L. Grant| 35|            England|     74|       74|  Manchester United| 1300|  39|         Right|                       1|          1|      GK|  2018|          01/01/2020|6.333333333| 183.0|        2500.0|
|53748|    K. Pilkington| 44|            England|     48|       48|   Cambridge United| NULL|   1|         Right|                       1|          1|      GK|  2018|          01/01/2023|6.166666667| 190.0|   4585.060806|
+-----+-----------------+---+-------------------+-------+---------+-------------------+-----+----+--------------+------------------------+-----------+--------+------+--------------------+-----------+------+--------------+
only showing top 20 rows

In [42]:
df.printSchema

<bound method DataFrame.printSchema of DataFrame[ID: int, Name: string, Age: int, Nationality: string, Overall: int, Potential: int, Club: string, Value: int, Wage: int, Preferred Foot: string, International Reputation: int, Skill Moves: int, Position: string, Joined: int, Contract Valid Until: string, Height: double, Weight: double, Release Clause: double]>

In [43]:
df.printSchema()

root
 |-- ID: integer (nullable = true)
 |-- Name: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Nationality: string (nullable = true)
 |-- Overall: integer (nullable = true)
 |-- Potential: integer (nullable = true)
 |-- Club: string (nullable = true)
 |-- Value: integer (nullable = true)
 |-- Wage: integer (nullable = true)
 |-- Preferred Foot: string (nullable = true)
 |-- International Reputation: integer (nullable = true)
 |-- Skill Moves: integer (nullable = true)
 |-- Position: string (nullable = true)
 |-- Joined: integer (nullable = true)
 |-- Contract Valid Until: string (nullable = true)
 |-- Height: double (nullable = true)
 |-- Weight: double (nullable = true)
 |-- Release Clause: double (nullable = true)

In [44]:
df.count()

2399

In [45]:
# Подсчет отсутствующих значений в каждой колонке
df_missing_values = df.select([count(when(col(c).isNull(), c)).alias(c) for c in df.columns])

# Выводим количество отсутствующих значений
df_missing_values.show()

+---+----+---+-----------+-------+---------+----+-----+----+--------------+------------------------+-----------+--------+------+--------------------+------+------+--------------+
| ID|Name|Age|Nationality|Overall|Potential|Club|Value|Wage|Preferred Foot|International Reputation|Skill Moves|Position|Joined|Contract Valid Until|Height|Weight|Release Clause|
+---+----+---+-----------+-------+---------+----+-----+----+--------------+------------------------+-----------+--------+------+--------------------+------+------+--------------+
|  0|   0|  0|          7|      0|        0| 241|  257|   0|             0|                      10|          6|      21|     0|                 273|     0|     0|             3|
+---+----+---+-----------+-------+---------+----+-----+----+--------------+------------------------+-----------+--------+------+--------------------+------+------+--------------+

In [46]:
# Удаление колонок с большим количеством отсутствующих значений
columns_to_drop = ['Club', 'Contract Valid Until', 'Value']
df_cleaned = df.drop(*columns_to_drop)

# Удаление строк с отсутствующими значениями
df_cleaned = df_cleaned.dropna()

In [47]:
# Приведение всех строковых колонок к нижнему регистру
string_columns = [field.name for field in df_cleaned.schema.fields if isinstance(field.dataType, StringType)]
for col_name in string_columns:
    df_cleaned = df_cleaned.withColumn(col_name, lower(col(col_name)))

# Удаление полных дубликатов строк
df_no_duplicates = df_cleaned.dropDuplicates()

In [48]:
# Функция для определения возрастной группы
def age_group(age):
    if age < 20:
        return 'Under 20'
    elif 20 <= age <= 30:
        return '20 to 30'
    elif 31 <= age <= 36:
        return '31 to 36'
    else:
        return 'Over 36'

# Регистрация UDF
age_group_udf = udf(age_group, StringType())

# Добавление новой колонки 'AgeGroup'
df_with_age_groups = df_no_duplicates.withColumn('AgeGroup', age_group_udf(col('Age')))

# Подсчет количества футболистов в каждой возрастной группе
age_group_counts = df_with_age_groups.groupBy('AgeGroup').count()

# Вывод результатов
age_group_counts.show()

+--------+-----+
|AgeGroup|count|
+--------+-----+
|31 to 36|  327|
|Under 20|  269|
| Over 36|   14|
|20 to 30| 1744|
+--------+-----+

In [49]:
spark.stop()